<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Service page</title>
</head>
<body>
	<h1>this are the service provided by raushan ranjan</h1>
	        <!--going to bring footer here  -->
	        <footer id="hostTag" th:replace ="footer::footer1(${title},${subtitle})">
	        
	        </footer>
	        
	       <!--  <footer id="hostTag" th:insert ="footer::footer1">
	        
	        </footer> -->
	        <!-- <footer id="hostTag" th:include ="footer::footer1">
	        
	        </footer> -->
	        
</body>
</html>